<launch>
    <arg name="old_nav_root" default="/home/sentry_train_test/AstarTraining/Old_nav" />
    <arg name="old_nav_sim_src" default="$(arg old_nav_root)/sim_nav/src" />
    <!-- <include file="$(find bot_sim)/launch_real/real_robot_transform.launch" /> -->
    <!-- Use the Old_nav-local MID360 driver explicitly so an already-sourced
         workspace outside Old_nav cannot shadow this deployment's config. -->
    <include file="$(arg old_nav_root)/livox_ws/src/livox_ros_driver2/launch_ROS1/msg_MID360.launch">
        <arg name="msg_frame_id" value="livox_frame" />
    </include>
    <!-- <include file="$(find bot_sim)/launch_real/lidar_filter.launch" /> -->
    <include file="$(arg old_nav_sim_src)/bot_sim/launch_real/lidar_merge_pointcloud.launch" />
    <!-- <include file="$(find bot_sim)/launch_real/imu_filter.launch" /> -->
    <!-- <include file="$(find bot_sim)/launch_real/3D22D.launch" /> -->
    <include file="$(arg old_nav_sim_src)/Point-LIO/launch/mapping_avia.launch">
        <arg name="point_lio_root" value="$(arg old_nav_sim_src)/Point-LIO" />
    </include>
    <!-- <include file="$(find bot_sim)/launch_real/dbscan_bfs_3D.launch" /> -->
    <!-- <include file="$(find pcd2pgm)/launch/pcd2pgm.launch" /> -->
    <!-- <include file="$(find bot_sim)/launch_real/dstarlite.launch" /> -->
    <!-- <include file="$(find bot_sim)/launch_real/ser2msg_tf.launch" /> -->

</launch>
