<launch>
  <param name="use_sim_time" value="false"/>
  <!-- <node pkg="bot_sim" type="lidar_filter" name="lidar_filter" output="screen">
      <param name="subscribed_scan" type="string" value="scan_laser" />
      <param name="new_scan" type="string" value="new_scan" />
      <param name="min_angle" type="double" value="-1.2" />
      <param name="max_angle" type="double" value="1.2" />
  </node> -->
  <node pkg="bot_sim" type="threeD_lidar_merge_pointcloud" name="threeD_lidar_merge_pointcloud" output="screen">
      <param name="laser_frame" type="string" value="aft_mapped" />
      <param name="scan_topic_left" type="string" value="/livox/lidar" />
      <param name="scan_topic_right" type="string" value="/livox/lidar" />
      <param name="new_scan_topic" type="string" value="/3Dlidar" />
      <param name="max_height" type="double" value="10.0" />
      <param name="min_height" type="double" value="-1.0" />
      <param name="single_lidar_mode" type="bool" value="true" />
      <param name="roll_deg" type="double" value="0.0" />
      <param name="pitch_deg" type="double" value="0.0" />
      <param name="yaw_deg" type="double" value="0.0" />
      <param name="translate_x" type="double" value="0.0" />
      <param name="translate_y" type="double" value="0.0" />
      <param name="translate_z" type="double" value="0.0" />
  </node>
</launch>
