<launch>
    <param name="use_sim_time" value="false"/>
    <arg name="old_nav_root" default="/home/sentry_train_test/AstarTraining/Old_nav" />
    <arg name="map_root" default="$(arg old_nav_root)/sim_nav/src/bot_sim/map" />
    <arg name="map" default="innowing.yaml" />
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_root)/$(arg map)"/>
    <!-- <include file="$(find bot_sim)/launch_real/amcl_real.launch" /> -->
    <!-- <node pkg="rviz" type="rviz" name="rviz" /> -->

</launch>
