<launch>
    <node name="real_robot_transform" pkg="bot_sim" type="real_robot_transform" >
        <param name="gimbal_frame" type="string" value="gimbal_frame" />
        <param name="_3DLidar_frame" type="string" value="aft_mapped" />
        <param name="odom_frame" type="string" value="map" />

        <param name="roll_offset_deg" type="double" value="0.0" />
        <param name="pitch_offset_deg" type="double" value="0.0" />
        <param name="yaw_offset_deg" type="double" value="0.0" />
    </node>
</launch>