<launch>
    <arg name="old_nav_root" default="/home/sentry_train_test/AstarTraining/Old_nav" />
    <arg name="bot_sim_launch_root" default="$(arg old_nav_root)/sim_nav/src/bot_sim/launch_real" />
    <arg name="enable_world_align" default="false" />
    <param name="use_sim_time" value="false"/>
    <node name="ser2msg_decision_givepoint" pkg="bot_sim" type="ser2msg_decision_givepoint">
        <param name="serial_port" type="string" value="/dev/ttyUSB0" />
        <param name="virtual_frame" type="string" value="virtual_frame" />
        <param name="rotbase_frame" type="string" value="rotbase_frame" />
        <param name="gimbal_frame" type="string" value="gimbal_frame" />
        <param name="_3DLidar_frame" type="string" value="aft_mapped" />
        <param name="delta_time" type="double" value="0.04" />
        <param name="vel_topic" type="string" value="/cmd_vel" />
        <param name="theta" type="double" value="1.572418" />
        <param name="shift_x" type="double" value="15.652537" />
        <param name="shift_y" type="double" value="3.212167" />
        <param name="K" type="double" value="2.5" />
    </node>
    <include file="$(arg bot_sim_launch_root)/world_align.launch" if="$(arg enable_world_align)" />
<!--     
    <node name="real_robot_transform" pkg="bot_sim" type="real_robot_transform" >
        <param name="gimbal_frame" type="string" value="gimbal_frame" />
        <param name="_3DLidar_frame" type="string" value="aft_mapped" />
        <param name="g_frame" type="string" value="g_frame" />
        <param name="v_frame" type="string" value="v_frame" />
    </node> -->
</launch>
